{% extends "base.html" %}
{% block title %}
    benvinguda
{% endblock %}

{% block content %}
    {% if page_name == 'index' %}
        {% for page in pages %}
            {% if page.title == 'Benvinguda' %}
                {{ page.content }}
            {% endif %}
        {% endfor %}
    {% elif articles %}
        <h1>Entrades</h1>
        <ul>
        {% for article in (articles_page.object_list if articles_page else articles) %}
        <li> <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
        {% endfor %}
    {%endif%}
{% endblock %}
